* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  padding-bottom:15px;
}
.header-cnt{
  width: 100%;
  text-align: center;
  padding: 20px;
}

.header-img{
  width: 400px;
  border-radius: 20px;
}

.elenco{
  text-align: center;

  }

.elenco li{
  margin-bottom: 10px;
}
